/* Welcome Section */

#welcome-section {
    background-color: rgba(63, 198, 110, 0.102);
}

.welcome-section__container {
    display: flex;
    align-items: center;
}

.welcome-section__left {
    width: 55%;

    img {
        width: 100%;
        height: auto;
    }
}

.welcome-section__right {
    width: 45%;

    h2 span {
        color: var(--orange-color);
    }

    p {
        color: var(--text-color);
        margin-bottom: 40px;
    }
}

/* Media-query */

/* Mobile */
@media (max-width: 68.75em) {
    .welcome-section__container {
        flex-direction: column;

        .welcome-section__left {
            order: 2;
            width: 100%;
        }

        .welcome-section__right {
            order: 1;
            width: 100%;
            margin-bottom: 3.6rem;
        }
    }
}
