/* Welcome Section */

#welcome-section {
    background-color: rgba(63, 198, 110, 0.102);
}

.welcome-section__container {
    display: flex;
    align-items: center;
    padding-top: 80px;
    padding-left: 80px;
}

.welcome-section__left {
    width: 55%;
}

.welcome-section__left img {
    width: 100%;
    height: auto;
}

.welcome-section__right {
    width: 45%;
}

/* .welcome-section__right h2 {
  font-size: 60px;
  line-height: 72px;
  color: var(--black-color);
  margin-bottom: 50px;
} */

.welcome-section__right h2 span {
    color: var(--orange-color);
}

.welcome-section__right p {
    color: var(--text-color);
    /* font-size: 20px;
  line-height: 40px; */
    margin-bottom: 40px;
}
