/* Header */

.header {
    height: 8rem;
}

.navigation {
    max-width: 144rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-left: 8rem;
    padding-right: 8rem;

    .logo-white {
        height: 5.1rem;
    }

    .navigation__links {
        display: flex;
        gap: 4.5rem;
        align-items: center;

        li a {
            color: var(--black-color);
            font-size: 1.4rem;
        }

        li a:hover {
            color: var(--orange-color);
        }

        li:first-child a {
            color: var(--orange-color);
        }
    }

    .navigation__actions {
        display: flex;
        align-items: center;

        img {
            height: 2.4rem;
            width: 2.4rem;
        }

        figure {
            height: 5rem;
            width: 5rem;
            background-color: rgb(236, 240, 241);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2.5rem;
        }
    }
}

#mobile-nav-icon {
    display: none;
    width: 2.4rem;
    cursor: pointer;
}

/* Media-query */
/* Tablet*/
@media (max-width: 70em) {
    .navigation {
        padding-right: 8rem;
        padding-left: 8rem;
    }
}

@media (max-width: 60em) {
    .navigation {
        padding-right: 6.4rem;
        padding-left: 6.4rem;
    }
}

/* Mobile */
@media (max-width: 50em) {
    .navigation {
        padding-right: 4.8rem;
        padding-left: 4.8rem;

        .navigation__links,
        .navigation__actions button {
            display: none !important;
        }

        .navigation__actions {
            figure {
                margin-right: 4.9rem;
            }
        }
    }

    #mobile-nav-icon {
        display: inline-block;
        position: absolute;
        right: 4.8rem;
    }

    .mobile-nav {
        padding: 4rem 4.8rem;
        text-align: center;
    }

    .mobile-nav_logo {
        width: 10rem;
        margin-bottom: 3rem;
    }

    .navigation__links li {
        display: block;
    }
    .navigation__links li:not(:last-child) {
        margin-right: 0;
    }

    .navigation__links a {
        font-weight: 900;
        font-size: 1.8rem;
        line-height: 3rem;
    }
}

@media (max-width: 40em) {
    .navigation {
        padding-right: 2.8rem;
        padding-left: 2.8rem;
    }

    #mobile-nav-icon {
        right: 2.8rem;
    }

    .close-icon {
        right: 2.8rem;
    }
}
